In [1]:
import numpy as np
import pandas as pd
# from tqdm import tqdm
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm
import multiprocessing

### Importing Dataset

In [2]:
data = pd.read_csv('adult.csv')

In [3]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

**Features to work on:
workclass = ? , string labels                 use ohe/le             DONE
education -> sorted by edu_num                drop                   DONE
marital-status -> string labels               use ohe/le             DONE
occupation -> ? , string labels               use ohe/le             DONE
relationship -> string labels                 use ohe/le             DONE
race -> string labels                         use ohe/le             DONE
gender -> string labels                       use ohe/le             DONE
native-country -> ? , string labels           use ohe/le
income -> convert to 1,0                      RESULT

In [5]:
data['workclass'].unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [6]:
for i in tqdm(range(len(data['workclass']))):
    if( data.at[i,'workclass'] == '?'):
        data.drop(i,axis = 0, inplace = True)

  0%|          | 0/48842 [00:00<?, ?it/s]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46043 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              46043 non-null  int64
 1   workclass        46043 non-null  object
 2   fnlwgt           46043 non-null  int64
 3   education        46043 non-null  object
 4   educational-num  46043 non-null  int64
 5   marital-status   46043 non-null  object
 6   occupation       46043 non-null  object
 7   relationship     46043 non-null  object
 8   race             46043 non-null  object
 9   gender           46043 non-null  object
 10  capital-gain     46043 non-null  int64
 11  capital-loss     46043 non-null  int64
 12  hours-per-week   46043 non-null  int64
 13  native-country   46043 non-null  object
 14  income           46043 non-null  object
dtypes: int64(6), object(9)
memory usage: 6.6+ MB

In [8]:
sorted(data['workclass'].unique())

['Federal-gov',
 'Local-gov',
 'Never-worked',
 'Private',
 'Self-emp-inc',
 'Self-emp-not-inc',
 'State-gov',
 'Without-pay']

In [9]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder( sparse = False)

In [10]:
data[['Federal-gov','Local-gov','Never-worked','Private','Self-emp-inc',
      'Self-emp-not-inc','State-gov','Without-pay']] = ohe.fit_transform(data[['workclass']])

In [11]:
data.drop('education' , axis = 1 , inplace = True)

In [12]:
sorted(data['marital-status'].unique())

['Divorced',
 'Married-AF-spouse',
 'Married-civ-spouse',
 'Married-spouse-absent',
 'Never-married',
 'Separated',
 'Widowed']

In [13]:
data[['Divorced',
 'Married-AF-spouse',
 'Married-civ-spouse',
 'Married-spouse-absent',
 'Never-married',
 'Separated',
 'Widowed']] = ohe.fit_transform(data[['marital-status']])

In [14]:
data.reset_index(drop = True , inplace = True)

In [15]:
sorted(data['occupation'].unique())

['?',
 'Adm-clerical',
 'Armed-Forces',
 'Craft-repair',
 'Exec-managerial',
 'Farming-fishing',
 'Handlers-cleaners',
 'Machine-op-inspct',
 'Other-service',
 'Priv-house-serv',
 'Prof-specialty',
 'Protective-serv',
 'Sales',
 'Tech-support',
 'Transport-moving']

In [16]:
for i in tqdm(range(len(data['occupation']))):
    if( data.at[i,'occupation'] == '?'):
        data.drop(i,axis = 0, inplace = True)

  0%|          | 0/46043 [00:00<?, ?it/s]

In [17]:
data[['Adm-clerical',
 'Armed-Forces',
 'Craft-repair',
 'Exec-managerial',
 'Farming-fishing',
 'Handlers-cleaners',
 'Machine-op-inspct',
 'Other-service',
 'Priv-house-serv',
 'Prof-specialty',
 'Protective-serv',
 'Sales',
 'Tech-support',
 'Transport-moving']] = ohe.fit_transform(data[['occupation']])

In [18]:
data.reset_index(drop = True , inplace = True)

In [19]:
sorted(data['relationship'].unique())

['Husband',
 'Not-in-family',
 'Other-relative',
 'Own-child',
 'Unmarried',
 'Wife']

In [20]:
data[['Husband',
 'Not-in-family',
 'Other-relative',
 'Own-child',
 'Unmarried',
 'Wife']] = ohe.fit_transform(data[['relationship']])

In [21]:
sorted(data['race'].unique())

['Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other', 'White']

In [22]:
data[['Amer-Indian-Eskimo', 'Asian-Pac-Islander',
      'Black', 'Other', 'White']] = ohe.fit_transform(data[['race']])

In [23]:
sorted(data['gender'].unique())

['Female', 'Male']

In [24]:
data[['Female', 'Male']] = ohe.fit_transform(data[['gender']])

In [25]:
data.reset_index(drop = True , inplace = True)

In [26]:
for i in tqdm(range(len(data['native-country']))):
    if( data.at[i,'native-country'] == '?'):
        data.drop(i,axis = 0, inplace = True)

  0%|          | 0/46033 [00:00<?, ?it/s]

In [27]:
data.reset_index(drop = True , inplace = True)

In [28]:
data['native-country'].unique()

array(['United-States', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [29]:
data[['United-States', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands']] = ohe.fit_transform(data[['native-country']])

In [30]:
sorted(data['income'].unique())

['<=50K', '>50K']

In [31]:
for i in range(len(data['income'])):
    if data.at[i , 'income'] == '<=50K':
        data.at[i , 'income'] = 1
        #.replace('<=50K' ,'1')
    else:
        data.at[i , 'income'] = 0
        #.replace('>50K' ,'0')

In [32]:
data['income'].unique()

array([1, 0], dtype=object)

In [33]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'educational-num', 'marital-status',
       'occupation', 'relationship', 'race', 'gender', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'income',
       'Federal-gov', 'Local-gov', 'Never-worked', 'Private', 'Self-emp-inc',
       'Self-emp-not-inc', 'State-gov', 'Without-pay', 'Divorced',
       'Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent',
       'Never-married', 'Separated', 'Widowed', 'Adm-clerical', 'Armed-Forces',
       'Craft-repair', 'Exec-managerial', 'Farming-fishing',
       'Handlers-cleaners', 'Machine-op-inspct', 'Other-service',
       'Priv-house-serv', 'Prof-specialty', 'Protective-serv', 'Sales',
       'Tech-support', 'Transport-moving', 'Husband', 'Not-in-family',
       'Other-relative', 'Own-child', 'Unmarried', 'Wife',
       'Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other', 'White',
       'Female', 'Male', 'United-States', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines', 'Thailand',
       'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam', 'South', 'Columbia',
       'Japan', 'India', 'Cambodia', 'Poland', 'Laos', 'England', 'Cuba',
       'Taiwan', 'Italy', 'Canada', 'Portugal', 'China', 'Nicaragua',
       'Honduras', 'Iran', 'Scotland', 'Jamaica', 'Ecuador', 'Yugoslavia',
       'Hungary', 'Hong', 'Greece', 'Trinadad&Tobago',
       'Outlying-US(Guam-USVI-etc)', 'France', 'Holand-Netherlands'],
      dtype='object')

In [34]:
del_cols = ['workclass', 'marital-status',
       'occupation', 'relationship', 'race', 'gender', 'native-country']

In [35]:
data.drop(del_cols , inplace = True , axis = 1)

In [36]:
data

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income,Federal-gov,Local-gov,Never-worked,...,Jamaica,Ecuador,Yugoslavia,Hungary,Hong,Greece,Trinadad&Tobago,Outlying-US(Guam-USVI-etc),France,Holand-Netherlands
0,25,226802,7,0,0,40,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,38,89814,9,0,0,50,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,28,336951,12,0,0,40,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,44,160323,10,7688,0,40,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,34,198693,6,0,0,30,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,27,257302,12,0,0,38,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45218,40,154374,9,0,0,40,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45219,58,151910,9,0,0,40,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45220,22,201490,9,0,0,20,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45221,52,287927,9,15024,0,40,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [37]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [38]:
data.columns

Index(['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'income', 'Federal-gov', 'Local-gov', 'Never-worked',
       'Private', 'Self-emp-inc', 'Self-emp-not-inc', 'State-gov',
       'Without-pay', 'Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
       'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed',
       'Adm-clerical', 'Armed-Forces', 'Craft-repair', 'Exec-managerial',
       'Farming-fishing', 'Handlers-cleaners', 'Machine-op-inspct',
       'Other-service', 'Priv-house-serv', 'Prof-specialty', 'Protective-serv',
       'Sales', 'Tech-support', 'Transport-moving', 'Husband', 'Not-in-family',
       'Other-relative', 'Own-child', 'Unmarried', 'Wife',
       'Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other', 'White',
       'Female', 'Male', 'United-States', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines', 'Thailand',
       'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam', 'South', 'Columbia',
       'Japan', 'India', 'Cambodia', 'Poland', 'Laos', 'England', 'Cuba',
       'Taiwan', 'Italy', 'Canada', 'Portugal', 'China', 'Nicaragua',
       'Honduras', 'Iran', 'Scotland', 'Jamaica', 'Ecuador', 'Yugoslavia',
       'Hungary', 'Hong', 'Greece', 'Trinadad&Tobago',
       'Outlying-US(Guam-USVI-etc)', 'France', 'Holand-Netherlands'],
      dtype='object')

In [39]:
scale_cols = ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss',
       'hours-per-week']

In [40]:
data[scale_cols] = scaler.fit_transform(data[scale_cols])

In [41]:
data

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income,Federal-gov,Local-gov,Never-worked,...,Jamaica,Ecuador,Yugoslavia,Hungary,Hong,Greece,Trinadad&Tobago,Outlying-US(Guam-USVI-etc),France,Holand-Netherlands
0,-1.024983,0.350889,-1.221559,-0.146733,-0.21878,-0.078120,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-0.041455,-0.945878,-0.438122,-0.146733,-0.21878,0.754701,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.798015,1.393592,0.737034,-0.146733,-0.21878,-0.078120,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.412481,-0.278420,-0.046403,0.877467,-0.21878,-0.078120,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.344079,0.084802,-1.613277,-0.146733,-0.21878,-0.910942,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,-0.873671,0.639611,0.737034,-0.146733,-0.21878,-0.244684,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45218,0.109857,-0.334735,-0.438122,-0.146733,-0.21878,-0.078120,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45219,1.471665,-0.358060,-0.438122,-0.146733,-0.21878,-0.078120,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45220,-1.251951,0.111279,-0.438122,-0.146733,-0.21878,-1.743763,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45221,1.017729,0.929516,-0.438122,1.854773,-0.21878,-0.078120,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [42]:
data.to_csv('processes_data.csv',index=False)

In [43]:
Y = data['income'].to_numpy()
data.drop('income', inplace = True , axis = 1)
X = data.to_numpy()

In [44]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,Y, test_size = 0.2 , random_state = 40)

# KNN

In [45]:
def dist(X1 , X2):
    return ((np.sum((X1-X2)**2))**(0.5))

In [46]:
# def knn_1(X_train, y_train , q_pt  , k = 5):
#     vals = []
#     m = X_train.shape[0]
    
#     for i in range(m):
#         d = dist(X_train[i] , q_pt )
#         vals.append((d,y_train[i]))
    
#     vals = sorted(vals)
#     vals = vals[ :k]
    
#     vals = np.array(vals)
    
#     print(vals)
    
#     new_vals = np.unique(vals[:,], return_counts=True)
#     print(new_vals)

In [47]:
#knn_1(X_train, y_train , q_pt = X_test[1] , k = 15)

In [48]:
y_test[11]

1

In [49]:
def final_label(dist_label , k):
    count_0 = 0
    float_k = float(k)
    for i in range(k):
        if dist_label[i,1] == 0:
            count_0 = count_0 + 1
    
    if count_0 > float_k/2 :
        return 0
    else:
        return 1

In [50]:
def knn_2(X_train, X_test , y_train , y_test  , k ):
    collection = []
    m_train = len(y_train)
    m_test = len(y_test)
    pred_labels = []
    for i in tqdm(range(m_test)):
        dist_label = []
        
        for j in range(m_train):
            d = dist(X_train[j] ,X_test[i] )
            dist_label.append( [d , y_train[j]] )
        
        dist_label = sorted(dist_label)
        dist_label = dist_label[:k ]
        dist_label = np.array(dist_label)
        
        #print(dist_label)
        
        pred_labels.append(final_label(dist_label , k))
        
        pred_label = final_label(dist_label , k)
        
#        # print(dist_label)
#         print("----------" )
#         print(dist_label)
#         print("----------")
#         print('*')
    print(pred_labels)
    
    pred_labels = np.asarray(pred_labels)
    pred_labels =np.reshape(pred_labels, (-1, 1))
    print(pred_labels.shape)
    return pred_labels

In [51]:
##y_pred_knn = knn_2(X_train, X_test , y_train , y_test  , k )

In [52]:
#y_pred_knn

In [53]:
y_test =np.reshape(y_test, (-1, 1))

In [54]:
y_test.shape

(9045, 1)

In [55]:
#y_pred_knn

In [56]:
 #y_pred_knn =  y_pred_knn.astype('int64')

In [57]:
 y_test = y_test.astype('int64')

In [58]:
y_test = np.asarray(y_test)

In [59]:
y_test = np.asarray(y_test)

In [60]:
type(y_test)

numpy.ndarray

In [61]:
y_train = np.asarray(y_train)
y_train = y_train.astype('int64')

In [62]:
X_train = np.asarray(X_train)
X_train = X_train.astype('int64')

In [63]:
# from sklearn.metrics import confusion_matrix
# confusion_matrix( y_test , y_pred_knn)

In [64]:
# from sklearn.metrics import classification_report

# print(classification_report(y_test , y_pred_knn))

In [65]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

In [66]:
#Create KNN Classifier
# knn_3 = KNeighborsClassifier(n_neighbors=7)

# #Train the model using the training sets
# knn_3.fit(X_train, y_train)

In [67]:
#Predict the response for test dataset
# y_pred_knn_3 = knn_3.predict(X_test)

In [68]:
# from sklearn.metrics import confusion_matrix
# confusion_matrix( y_test , y_pred_knn_3)

In [69]:
# from sklearn.metrics import classification_report

# print(classification_report(y_test , y_pred_knn_3))

In [70]:
# def sigmoid_fun(X , theta):
#     sig = 1/(1+np.exp((-1)*np.dot(X,theta)))
#     return sig

# def cost(theta,X,y,lamb):
#     m = len(y)
#     n = len(theta)
#     y = y.reshape(m,1)
#     theta = theta.reshape(n,1)
    
#     h = sigmoid_fun(X , theta)
    
#     j = -np.dot(y.T,np.log(h)) - (np.dot((1-y).T,(1-np.log(h))))
    
#     J =  j/(m)
#     J = J + ( lamb*np.sum( (theta[1:,:]**2) ) )/(2*m)
    
#     return J
# def grad (theta,X,y,lamb):
#     n = len(theta)
#     m = len(y)
#     y = y.reshape(m,1)
#     theta = theta.reshape(n,1)
#     grad = np.dot(X.T, (sigmoid_fun(X,theta) - y))/m
#     grad[1:,:] = grad[1:,:] + (lamb/m)*theta[1:,:]
#     return grad

In [71]:
# import scipy.optimize as op
# theta = np.zeros((X_train.shape[1],1) )

# lamb = 0

# result = op.fmin_tnc(cost, x0=theta, args=(X_train,y_train, lamb),fprime=grad)
# finaltheta = result[0].reshape((-1,1))

In [72]:
# y_pred_lr = sigmoid_fun(X_test , finaltheta)
# #y_pred
# len(y_pred_lr)

In [73]:
# for i in range(len(y_pred_lr)):
#     if (y_pred_lr[i] >= 0.5):
#         y_pred_lr[i] = 1
#     else:
#         y_pred_lr[i] = 0

In [74]:
# from sklearn.metrics import confusion_matrix
# confusion_matrix( y_test , y_pred_lr)

In [75]:
# #y_test
# from sklearn.metrics import classification_report

# print(classification_report(y_test , y_pred_lr))

In [ ]:
#knn_2(X_train, X_test , y_train , y_test  , 5)